In [ ]:
#Importing the Producers Data(DK1)
# Changes so that i can run easliy on the second set
import pandas as pd
DK1_2018=pd.read_excel("/content/ElectricityBalanceNonvDK1_1_2018_30_12_2018.xlsx")
DK1_2019=pd.read_excel("/content/ElectricityBalanceNonv DK1_1_1_2019_30_12_2019.xlsx")
DK1_2020=pd.read_excel("/content/ElectricityBalanceNonv DK1_1_1_20_30_12_20.xlsx")
DK1_2021=pd.read_excel('/content/ElectricityBalanceNonv 1_1_21_30_12_21.xlsx')
DK1_2022=pd.read_excel("/content/ElectricityBalanceNonv DK1_1_1_22_30_12_22.xlsx")
DK1_2023=pd.read_excel("/content/ElectricityBalanceNonv DK1_1_1_23_30_12_23.xlsx")

In [ ]:
#Changing the Datas(DK1)
def processed_dfs(start_year,end_year,df):
  start_date=pd.to_datetime(f'{start_year}-01-01')
  end_date=pd.to_datetime(f'{end_year}-01-01')
  complete_data_range=pd.date_range(start=start_date,end=end_date, freq='H')
  complete_df=pd.DataFrame({'HourUTC':complete_data_range})
  complete_df=complete_df.drop(complete_df.tail(1).index)
  df=pd.merge(complete_df,df,on='HourUTC',how='left')
  df.fillna(0,inplace=True)
  df['HourUTC'] = df['HourUTC'].astype(str)
  df[['dates', 'time']] = df['HourUTC'].str.split(' ', expand=True)
  df[['year','month','date']]=df['dates'].str.split('-',expand=True)
  df[['hour','minutes','seconds']]=df['time'].str.split(':',expand=True)
  df=df.drop(columns=['seconds','minutes','time','dates','HourUTC','PriceArea','HourDK'])
  return df

In [ ]:
DK1_2018=processed_dfs(2018,2019,DK1_2018)
DK1_2019=processed_dfs(2019,2020,DK1_2019)
DK1_2020=processed_dfs(2020,2021,DK1_2020)
DK1_2021=processed_dfs(2021,2022,DK1_2021)
DK1_2022=processed_dfs(2022,2023,DK1_2022)
DK1_2023=processed_dfs(2023,2024,DK1_2023)
DK1_2020 = DK1_2020[(DK1_2020['month'] != '02') | (DK1_2020['date'] != '29')]
DK1_2020=DK1_2020.reset_index(drop=True)
print("DK1_2018")
print(DK1_2018)
print("DK1_2019")
print(DK1_2019)
print("DK1_2020")
print(DK1_2020)
print("DK1_2021")
print(DK1_2021)
print("DK1_2022")
print(DK1_2022)
print("DK1_2023")
print(DK1_2023)

DK1_2018
        TotalLoad  year month date hour
0     1741.920044  2018    01   01   00
1     1657.520020  2018    01   01   01
2     1594.260010  2018    01   01   02
3     1535.880005  2018    01   01   03
4     1505.069946  2018    01   01   04
...           ...   ...   ...  ...  ...
8755     0.000000  2018    12   31   19
8756     0.000000  2018    12   31   20
8757     0.000000  2018    12   31   21
8758     0.000000  2018    12   31   22
8759     0.000000  2018    12   31   23

[8760 rows x 5 columns]
DK1_2019
        TotalLoad  year month date hour
0     1837.709961  2019    01   01   00
1     1778.859985  2019    01   01   01
2     1726.380005  2019    01   01   02
3     1709.619995  2019    01   01   03
4     1716.390015  2019    01   01   04
...           ...   ...   ...  ...  ...
8755     0.000000  2019    12   31   19
8756     0.000000  2019    12   31   20
8757     0.000000  2019    12   31   21
8758     0.000000  2019    12   31   22
8759     0.000000  2019    12   31   23

[8760 rows x 5 columns]
DK1_2020
        TotalLoad  year month date hour
0     1892.599976  2020    01   01   00
1     1830.969971  2020    01   01   01
2     1782.089966  2020    01   01   02
3     1745.689941  2020    01   01   03
4     1781.790039  2020    01   01   04
...           ...   ...   ...  ...  ...
8755     0.000000  2020    12   31   19
8756     0.000000  2020    12   31   20
8757     0.000000  2020    12   31   21
8758     0.000000  2020    12   31   22
8759     0.000000  2020    12   31   23

[8760 rows x 5 columns]
DK1_2021
        TotalLoad  year month date hour
0     2042.819946  2021    01   01   00
1     1966.479980  2021    01   01   01
2     1915.500000  2021    01   01   02
3     1892.500000  2021    01   01   03
4     1903.260010  2021    01   01   04
...           ...   ...   ...  ...  ...
8755     0.000000  2021    12   31   19
8756     0.000000  2021    12   31   20
8757     0.000000  2021    12   31   21
8758     0.000000  2021    12   31   22
8759     0.000000  2021    12   31   23

[8760 rows x 5 columns]
DK1_2022
        TotalLoad  year month date hour
0     1339.800049  2022    01   01   00
1     1283.859985  2022    01   01   01
2     1243.839966  2022    01   01   02
3     1229.959961  2022    01   01   03
4     1200.010010  2022    01   01   04
...           ...   ...   ...  ...  ...
8755     0.000000  2022    12   31   19
8756     0.000000  2022    12   31   20
8757     0.000000  2022    12   31   21
8758     0.000000  2022    12   31   22
8759     0.000000  2022    12   31   23

[8760 rows x 5 columns]
DK1_2023
        TotalLoad  year month date hour
0     2122.850098  2023    01   01   00
1     2127.719971  2023    01   01   01
2     2026.239990  2023    01   01   02
3     1985.670044  2023    01   01   03
4     1974.770020  2023    01   01   04
...           ...   ...   ...  ...  ...
8755     0.000000  2023    12   31   19
8756     0.000000  2023    12   31   20
8757     0.000000  2023    12   31   21
8758     0.000000  2023    12   31   22
8759     0.000000  2023    12   31   23

[8760 rows x 5 columns]

In [ ]:
#Mixed df of the Producers(DK1)
producer_mixed_df=pd.DataFrame()
producer_mixed_df['date']=DK1_2018['date']
producer_mixed_df['month']=DK1_2018['month']
producer_mixed_df['hour']=DK1_2018['hour']
producer_mixed_df['2018_values']=DK1_2018['TotalLoad'].astype(float).round(2)
producer_mixed_df['2019_values']=DK1_2019['TotalLoad'].astype(float).round(2)
producer_mixed_df['2020_values']=DK1_2020['TotalLoad'].astype(float).round(2)
producer_mixed_df['2021_values']=DK1_2021['TotalLoad'].astype(float).round(2)
producer_mixed_df['2022_values']=DK1_2022['TotalLoad'].astype(float).round(2)
producer_mixed_df['2023_values']=DK1_2023['TotalLoad'].astype(float).round(2)
producer_mixed_df

,date,month,hour,2018_values,2019_values,2020_values,2021_values,2022_values,2023_values
0,01,01,00,1741.92,1837.71,1892.60,2042.82,1339.80,2122.85
1,01,01,01,1657.52,1778.86,1830.97,1966.48,1283.86,2127.72
2,01,01,02,1594.26,1726.38,1782.09,1915.50,1243.84,2026.24
3,01,01,03,1535.88,1709.62,1745.69,1892.50,1229.96,1985.67
4,01,01,04,1505.07,1716.39,1781.79,1903.26,1200.01,1974.77
...,...,...,...,...,...,...,...,...,...
8755,31,12,19,0.00,0.00,0.00,0.00,0.00,0.00
8756,31,12,20,0.00,0.00,0.00,0.00,0.00,0.00
8757,31,12,21,0.00,0.00,0.00,0.00,0.00,0.00
8758,31,12,22,0.00,0.00,0.00,0.00,0.00,0.00
8759,31,12,23,0.00,0.00,0.00,0.00,0.00,0.00

In [ ]:
#Importing the Producers Datas(DK2)
DK2_2018=pd.read_excel("/content/ElectricityBalanceNonv DK2_1_1_201830_12_2018.xlsx")
DK2_2019=pd.read_excel("/content/ElectricityBalanceNonv DK2_1_1_2019_30_12_2019.xlsx")
DK2_2020=pd.read_excel("/content/ElectricityBalanceNonv Dk2_1_1_20_30_12_20.xlsx")
DK2_2021=pd.read_excel('/content/ElectricityBalanceNonv _DK2_1_1_21_30_12_21.xlsx')
DK2_2022=pd.read_excel("/content/ElectricityBalanceNonv DK1_1_1_22_30_12_22.xlsx")
DK2_2023=pd.read_excel("/content/ElectricityBalanceNonvDk2_1_1_23_30_12_23.xlsx")

In [ ]:
#Changing the datas of Producers(DK2)
def processed_dfs(start_year,end_year,df):
  start_date=pd.to_datetime(f'{start_year}-01-01')
  end_date=pd.to_datetime(f'{end_year}-01-01')
  complete_data_range=pd.date_range(start=start_date,end=end_date, freq='H')
  complete_df=pd.DataFrame({'HourUTC':complete_data_range})
  complete_df=complete_df.drop(complete_df.tail(1).index)
  df=pd.merge(complete_df,df,on='HourUTC',how='left')
  df.fillna(0,inplace=True)
  df['HourUTC'] = df['HourUTC'].astype(str)
  df[['dates', 'time']] = df['HourUTC'].str.split(' ', expand=True)
  df[['year','month','date']]=df['dates'].str.split('-',expand=True)
  df[['hour','minutes','seconds']]=df['time'].str.split(':',expand=True)
  df=df.drop(columns=['seconds','minutes','time','dates','HourUTC','PriceArea','HourDK'])
  return df

In [ ]:
DK2_2018=processed_dfs(2018,2019,DK2_2018)
DK2_2019=processed_dfs(2019,2020,DK2_2019)
DK2_2020=processed_dfs(2020,2021,DK2_2020)
DK2_2021=processed_dfs(2021,2022,DK2_2021)
DK2_2022=processed_dfs(2022,2023,DK2_2022)
DK2_2023=processed_dfs(2023,2024,DK2_2023)
DK2_2020 = DK2_2020[(DK2_2020['month'] != '02') | (DK2_2020['date'] != '29')]
DK2_2020=DK2_2020.reset_index(drop=True)
print("DK2_2018")
print(DK2_2018)
print("DK2_2019")
print(DK2_2019)
print("DK2_2020")
print(DK2_2020)
print("DK2_2021")
print(DK2_2021)
print("DK2_2022")
print(DK2_2022)
print("DK2_2023")
print(DK2_2023)

DK2_2018
        TotalLoad  year month date hour
0     1566.119995  2018    01   01   00
1     1460.449951  2018    01   01   01
2     1423.790039  2018    01   01   02
3     1380.469971  2018    01   01   03
4     1297.329956  2018    01   01   04
...           ...   ...   ...  ...  ...
8755     0.000000  2018    12   31   19
8756     0.000000  2018    12   31   20
8757     0.000000  2018    12   31   21
8758     0.000000  2018    12   31   22
8759     0.000000  2018    12   31   23

[8760 rows x 5 columns]
DK2_2019
        TotalLoad  year month date hour
0     1348.329956  2019    01   01   00
1     1291.209961  2019    01   01   01
2     1239.810059  2019    01   01   02
3     1223.859985  2019    01   01   03
4     1224.250000  2019    01   01   04
...           ...   ...   ...  ...  ...
8755     0.000000  2019    12   31   19
8756     0.000000  2019    12   31   20
8757     0.000000  2019    12   31   21
8758     0.000000  2019    12   31   22
8759     0.000000  2019    12   31   23

[8760 rows x 5 columns]
DK2_2020
        TotalLoad  year month date hour
0     1337.380005  2020    01   01   00
1     1293.369995  2020    01   01   01
2     1241.410034  2020    01   01   02
3     1197.140015  2020    01   01   03
4     1183.640015  2020    01   01   04
...           ...   ...   ...  ...  ...
8755     0.000000  2020    12   31   19
8756     0.000000  2020    12   31   20
8757     0.000000  2020    12   31   21
8758     0.000000  2020    12   31   22
8759     0.000000  2020    12   31   23

[8760 rows x 5 columns]
DK2_2021
        TotalLoad  year month date hour
0     1363.040039  2021    01   01   00
1     1309.829956  2021    01   01   01
2     1260.209961  2021    01   01   02
3     1231.280029  2021    01   01   03
4     1234.170044  2021    01   01   04
...           ...   ...   ...  ...  ...
8755     0.000000  2021    12   31   19
8756     0.000000  2021    12   31   20
8757     0.000000  2021    12   31   21
8758     0.000000  2021    12   31   22
8759     0.000000  2021    12   31   23

[8760 rows x 5 columns]
DK2_2022
        TotalLoad  year month date hour
0     1339.800049  2022    01   01   00
1     1283.859985  2022    01   01   01
2     1243.839966  2022    01   01   02
3     1229.959961  2022    01   01   03
4     1200.010010  2022    01   01   04
...           ...   ...   ...  ...  ...
8755     0.000000  2022    12   31   19
8756     0.000000  2022    12   31   20
8757     0.000000  2022    12   31   21
8758     0.000000  2022    12   31   22
8759     0.000000  2022    12   31   23

[8760 rows x 5 columns]
DK2_2023
        TotalLoad  year month date hour
0     1266.099976  2023    01   01   00
1     1214.750000  2023    01   01   01
2     1166.020020  2023    01   01   02
3     1121.300049  2023    01   01   03
4     1098.680054  2023    01   01   04
...           ...   ...   ...  ...  ...
8755     0.000000  2023    12   31   19
8756     0.000000  2023    12   31   20
8757     0.000000  2023    12   31   21
8758     0.000000  2023    12   31   22
8759     0.000000  2023    12   31   23

[8760 rows x 5 columns]

In [ ]:
#Mixed_df
producer_mixed_df2=pd.DataFrame()
producer_mixed_df2['date']=DK2_2018['date']
producer_mixed_df2['month']=DK2_2018['month']
producer_mixed_df2['hour']=DK2_2018['hour']
producer_mixed_df2['2018_values']=DK2_2018['TotalLoad'].astype(float).round(2)
producer_mixed_df2['2019_values']=DK2_2019['TotalLoad'].astype(float).round(2)
producer_mixed_df2['2020_values']=DK2_2020['TotalLoad'].astype(float).round(2)
producer_mixed_df2['2021_values']=DK2_2021['TotalLoad'].astype(float).round(2)
producer_mixed_df2['2022_values']=DK2_2022['TotalLoad'].astype(float).round(2)
producer_mixed_df2['2023_values']=DK2_2023['TotalLoad'].astype(float).round(2)
producer_mixed_df2

,date,month,hour,2018_values,2019_values,2020_values,2021_values,2022_values,2023_values
0,01,01,00,1566.12,1348.33,1337.38,1363.04,1339.80,1266.10
1,01,01,01,1460.45,1291.21,1293.37,1309.83,1283.86,1214.75
2,01,01,02,1423.79,1239.81,1241.41,1260.21,1243.84,1166.02
3,01,01,03,1380.47,1223.86,1197.14,1231.28,1229.96,1121.30
4,01,01,04,1297.33,1224.25,1183.64,1234.17,1200.01,1098.68
...,...,...,...,...,...,...,...,...,...
8755,31,12,19,0.00,0.00,0.00,0.00,0.00,0.00
8756,31,12,20,0.00,0.00,0.00,0.00,0.00,0.00
8757,31,12,21,0.00,0.00,0.00,0.00,0.00,0.00
8758,31,12,22,0.00,0.00,0.00,0.00,0.00,0.00
8759,31,12,23,0.00,0.00,0.00,0.00,0.00,0.00

In [ ]:
#Exporting
producer_mixed_df.to_csv('DK1_mixed.csv')
producer_mixed_df2.to_csv('DK2_mixed.csv')