In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

def change (p):
    s=""
    for i in range (0,len(p)):
        if(p[i]==','):
            s+='.'
        else:
            s+=p[i]
    return s

In [34]:

df=pd.read_csv('/workspaces/Power-Consumption-Pattern/Price.csv', delimiter=';')
df.rename(columns={'BalancingPowerPriceDownEUR': 'Price'},inplace=True)
df['day']=0
df['year']=0
df['month']=0

df['Price']=df['Price'].astype(str)
for i in range (0,len(df)):
    df.loc[i,'Price']=change(df.iloc[i].loc['Price'])
df['Price']=df['Price'].astype(float)

for i in range (0,len(df)):
    p=datetime.strptime(df.loc[i,'HourUTC'],'%d-%m-%Y')
    df.loc[i,'day']=p.day
    df.loc[i,'year']=p.year
    df.loc[i,'month']=p.month

In [35]:

####### Checking the counts #######

# print('Day Value Counts')
# print(df['day'].value_counts())
# print('Month Value Counts')
# print(df['month'].value_counts())

In [37]:
######### DSM <NO> BiLL ######
df1=pd.read_csv('/workspaces/Power-Consumption-Pattern/NO/All CSV/NO_2023.csv')
df2=pd.read_csv('/workspaces/Power-Consumption-Pattern/Denmark.csv')
df2=df2.drop(columns=['Country','ISO3 Code','Datetime (UTC)'])
print(df2)

          Datetime (Local)  Price (EUR/MWhe)
0      2015-01-01 01:00:00             18.29
1      2015-01-01 02:00:00             16.04
2      2015-01-01 03:00:00             14.60
3      2015-01-01 04:00:00             14.95
4      2015-01-01 05:00:00             14.50
...                    ...               ...
81787  2024-04-30 21:00:00             66.05
81788  2024-04-30 22:00:00             54.09
81789  2024-04-30 23:00:00             50.98
81790  2024-05-01 00:00:00             44.71
81791  2024-05-01 01:00:00             44.18

[81792 rows x 2 columns]

In [38]:
from datetime import datetime
df2['day']=0
df2['month']=0
df2['year']=0
df2['hour']=0
for i in range (0,len(df2)):
    p=datetime.strptime(df2.iloc[i].loc['Datetime (Local)'],'%Y-%m-%d %H:%M:%S')
    df2.loc[i,'day']=p.day
    df2.loc[i,'year']=p.year
    df2.loc[i,'month']=p.month
    df2.loc[i,'hour']=p.hour
print(df2)
df2=df2[df2['year']==2023]
print(df2)

          Datetime (Local)  Price (EUR/MWhe)  day  month  year  hour
0      2015-01-01 01:00:00             18.29    1      1  2015     1
1      2015-01-01 02:00:00             16.04    1      1  2015     2
2      2015-01-01 03:00:00             14.60    1      1  2015     3
3      2015-01-01 04:00:00             14.95    1      1  2015     4
4      2015-01-01 05:00:00             14.50    1      1  2015     5
...                    ...               ...  ...    ...   ...   ...
81787  2024-04-30 21:00:00             66.05   30      4  2024    21
81788  2024-04-30 22:00:00             54.09   30      4  2024    22
81789  2024-04-30 23:00:00             50.98   30      4  2024    23
81790  2024-05-01 00:00:00             44.71    1      5  2024     0
81791  2024-05-01 01:00:00             44.18    1      5  2024     1

[81792 rows x 6 columns]
          Datetime (Local)  Price (EUR/MWhe)  day  month  year  hour
70127  2023-01-01 00:00:00              2.01    1      1  2023     0
70128  2023-01-01 01:00:00              1.38    1      1  2023     1
70129  2023-01-01 02:00:00              0.09    1      1  2023     2
70130  2023-01-01 03:00:00              0.08    1      1  2023     3
70131  2023-01-01 04:00:00              0.05    1      1  2023     4
...                    ...               ...  ...    ...   ...   ...
78882  2023-12-31 19:00:00             39.64   31     12  2023    19
78883  2023-12-31 20:00:00             34.89   31     12  2023    20
78884  2023-12-31 21:00:00             29.60   31     12  2023    21
78885  2023-12-31 22:00:00             28.67   31     12  2023    22
78886  2023-12-31 23:00:00             26.87   31     12  2023    23

[8760 rows x 6 columns]

In [39]:
print(df2)

          Datetime (Local)  Price (EUR/MWhe)  day  month  year  hour
70127  2023-01-01 00:00:00              2.01    1      1  2023     0
70128  2023-01-01 01:00:00              1.38    1      1  2023     1
70129  2023-01-01 02:00:00              0.09    1      1  2023     2
70130  2023-01-01 03:00:00              0.08    1      1  2023     3
70131  2023-01-01 04:00:00              0.05    1      1  2023     4
...                    ...               ...  ...    ...   ...   ...
78882  2023-12-31 19:00:00             39.64   31     12  2023    19
78883  2023-12-31 20:00:00             34.89   31     12  2023    20
78884  2023-12-31 21:00:00             29.60   31     12  2023    21
78885  2023-12-31 22:00:00             28.67   31     12  2023    22
78886  2023-12-31 23:00:00             26.87   31     12  2023    23

[8760 rows x 6 columns]

In [40]:
df2=df2.reset_index()
df2

      index     Datetime (Local)  Price (EUR/MWhe)  day  month  year  hour
0     70127  2023-01-01 00:00:00              2.01    1      1  2023     0
1     70128  2023-01-01 01:00:00              1.38    1      1  2023     1
2     70129  2023-01-01 02:00:00              0.09    1      1  2023     2
3     70130  2023-01-01 03:00:00              0.08    1      1  2023     3
4     70131  2023-01-01 04:00:00              0.05    1      1  2023     4
...     ...                  ...               ...  ...    ...   ...   ...
8755  78882  2023-12-31 19:00:00             39.64   31     12  2023    19
8756  78883  2023-12-31 20:00:00             34.89   31     12  2023    20
8757  78884  2023-12-31 21:00:00             29.60   31     12  2023    21
8758  78885  2023-12-31 22:00:00             28.67   31     12  2023    22
8759  78886  2023-12-31 23:00:00             26.87   31     12  2023    23

[8760 rows x 7 columns]

In [41]:
#df2[df2['month']==12]['hour'].value_counts()

In [42]:
print(df2[df2['month']==3][df2['hour']==2][df2['day']==26]['Price (EUR/MWhe)'].value_counts())
## 10 month 2 hour 29 day have 2 values
## 3 month 2 hour 26 day is missing

Series([], Name: count, dtype: int64)

/tmp/ipykernel_1839/3439378227.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df2[df2['month']==3][df2['hour']==2][df2['day']==26]['Price (EUR/MWhe)'].value_counts())
/tmp/ipykernel_1839/3439378227.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df2[df2['month']==3][df2['hour']==2][df2['day']==26]['Price (EUR/MWhe)'].value_counts())

In [43]:
df2=df2.drop(columns='Datetime (Local)')
indexlist=df2[df2['month']==10][df2['hour']==2][df2['day']==29].index.tolist()
if(len(indexlist)==2):
    df2=df2.drop(indexlist[0])
    df2=df2.reset_index()
df2.loc[len(df2),'day']=26
df2.loc[len(df2)-1,'month']=3
df2.loc[len(df2)-1,'year']=2023
df2.loc[len(df2)-1,'hour']=2
df2.loc[len(df2)-1,'Price (EUR/MWhe)']=1.1

/tmp/ipykernel_1839/1419012887.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  indexlist=df2[df2['month']==10][df2['hour']==2][df2['day']==29].index.tolist()
/tmp/ipykernel_1839/1419012887.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  indexlist=df2[df2['month']==10][df2['hour']==2][df2['day']==29].index.tolist()

In [44]:
df2=df2.sort_values(by=['month','day','hour'])
df2=df2.reset_index(drop=True)
print(df2[df2['month']==3][df2['hour']==2][df2['day']==23]['Price (EUR/MWhe)'].value_counts())

Price (EUR/MWhe)
36.1    1
Name: count, dtype: int64

/tmp/ipykernel_1839/3426153115.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df2[df2['month']==3][df2['hour']==2][df2['day']==23]['Price (EUR/MWhe)'].value_counts())
/tmp/ipykernel_1839/3426153115.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df2[df2['month']==3][df2['hour']==2][df2['day']==23]['Price (EUR/MWhe)'].value_counts())

In [45]:
len(df2)
print(df2[df2['month']==1]['hour'].value_counts())

hour
0.0     31
1.0     31
22.0    31
21.0    31
20.0    31
19.0    31
18.0    31
17.0    31
16.0    31
15.0    31
14.0    31
13.0    31
12.0    31
11.0    31
10.0    31
9.0     31
8.0     31
7.0     31
6.0     31
5.0     31
4.0     31
3.0     31
2.0     31
23.0    31
Name: count, dtype: int64

In [46]:
df1['values']=df1['values']/1000
df2['values']=0
for i in range (0,8760):
    df2.loc[i,'values']=df1.iloc[i].loc['values']
print(len(df2))
df2.head()

/tmp/ipykernel_1839/3876141998.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4.428' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2.loc[i,'values']=df1.iloc[i].loc['values']

8760

   level_0    index  Price (EUR/MWhe)  day  month    year  hour  values
0      0.0  70127.0              2.01  1.0    1.0  2023.0   0.0   4.428
1      1.0  70128.0              1.38  1.0    1.0  2023.0   1.0   4.220
2      2.0  70129.0              0.09  1.0    1.0  2023.0   2.0   4.084
3      3.0  70130.0              0.08  1.0    1.0  2023.0   3.0   6.180
4      4.0  70131.0              0.05  1.0    1.0  2023.0   4.0   4.300

In [70]:
####### DSM ##############
l1=df2['Price (EUR/MWhe)'].tolist()
l1.sort()
low_price=0
for i in range (0,int(len(l1)/2)):
    low_price+=l1[i]
low_price=low_price/(len(l1)/2)
print("Here is the low price",low_price,'EUR PER MW')
high_price=0
for i in range (int(len(l1)/2),len(l1)):
    high_price+=l1[i]
high_price=high_price/(len(l1)/2)
print("Here is the high price",high_price,'EUR PER MW')
l1=df2['values'].tolist()
totalconsumption=0
for i in range (len(l1)):
    totalconsumption+=l1[i]
print('here is the total consumption',totalconsumption,'KW')
DSM_bill=((0.8*totalconsumption*low_price)+(0.2*totalconsumption*high_price))/1000
print('here is the DSM bill',DSM_bill,'EUR')

Here is the low price 47.62581963470321 EUR PER MW
Here is the high price 121.68183789954342 EUR PER MW
here is the total consumption 139684.87600000013 KW
here is the DSM bill 8721.50785574748 EUR

In [71]:
######### Conventional ##############
conventionalprice=(100.57+111.36+95.27+91.44+70.86+92.2+64.78+86.19+85.03+58.66+105.64+69.65)/12
print('Here is the conventional price',conventionalprice,'EUR PER MW')
print('here is the total consumption',totalconsumption,'KW')
conventional_BILL=(conventionalprice*totalconsumption)/1000
print('here is the conventional bill',conventional_BILL,'EUR')

Here is the conventional price 85.97083333333335 EUR PER MW
here is the total consumption 139684.87600000013 KW
here is the conventional bill 12008.825193783347 EUR

In [72]:
##########  Flexible Market #############
avgflprice=0
l1=df['Price'].tolist()
l1.sort(reverse=True)
for i in range (0,int(len(df)/2)):
    avgflprice+=l1[i]
avgflprice=avgflprice/(len(df)/2)
## I have assumed that avflprice will be average of the first 50 percent big prices becauses we will be selling at high demand times.
print('Here is the average avgflprice',avgflprice,'EUR PER MW')
print('here is the total consumption',totalconsumption,'KW')
print('here is the quantity down regulated',totalconsumption*0.2,'KW')
flexible_BILL=((conventionalprice * totalconsumption )-(totalconsumption*0.2*avgflprice))/1000
print('here is the flexible bill',flexible_BILL,'EUR')

Here is the average avgflprice 133.47295362862067 EUR PER MW
here is the total consumption 139684.87600000013 KW
here is the quantity down regulated 27936.97520000003 KW
here is the flexible bill 8279.994598389818 EUR

In [73]:
saving1=(conventional_BILL-DSM_bill)
saving2=(conventional_BILL-flexible_BILL)
print('saving from DSM',saving1,'EUR')
print('saving from Flexible',saving2,'EUR')

saving from DSM 3287.3173380358658 EUR
saving from Flexible 3728.8305953935287 EUR