In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

def change (p):
    s=""
    for i in range (0,len(p)):
        if(p[i]==','):
            s+='.'
        else:
            s+=p[i]
    return s

In [30]:
change('534,34')

'534.34'

In [31]:

df=pd.read_csv('/workspaces/Power-Consumption-Pattern/Price.csv', delimiter=';')
df.rename(columns={'BalancingPowerPriceDownEUR': 'Price'},inplace=True)
df['day']=0
df['year']=0
df['month']=0

df['Price']=df['Price'].astype(str)
for i in range (0,len(df)):
    df.loc[i,'Price']=change(df.iloc[i].loc['Price'])
df['Price']=df['Price'].astype(float)

for i in range (0,len(df)):
    p=datetime.strptime(df.loc[i,'HourUTC'],'%d-%m-%Y')
    df.loc[i,'day']=p.day
    df.loc[i,'year']=p.year
    df.loc[i,'month']=p.month

In [4]:

####### Checking the counts #######

# print('Day Value Counts')
# print(df['day'].value_counts())
# print('Month Value Counts')
# print(df['month'].value_counts())

In [32]:
######### DSM <NO> BiLL ######
df1=pd.read_csv('/workspaces/Power-Consumption-Pattern/NO/All CSV/NO_2023.csv')
df2=pd.read_csv('/workspaces/Power-Consumption-Pattern/Denmark.csv')
df2=df2.drop(columns=['Country','ISO3 Code','Datetime (UTC)'])
print(df2)

          Datetime (Local)  Price (EUR/MWhe)
0      2015-01-01 01:00:00             18.29
1      2015-01-01 02:00:00             16.04
2      2015-01-01 03:00:00             14.60
3      2015-01-01 04:00:00             14.95
4      2015-01-01 05:00:00             14.50
...                    ...               ...
81787  2024-04-30 21:00:00             66.05
81788  2024-04-30 22:00:00             54.09
81789  2024-04-30 23:00:00             50.98
81790  2024-05-01 00:00:00             44.71
81791  2024-05-01 01:00:00             44.18

[81792 rows x 2 columns]

In [33]:
from datetime import datetime
df2['day']=0
df2['month']=0
df2['year']=0
df2['hour']=0
df2=df2[df2['year']==2023]
for i in range (0,len(df2)):
    p=datetime.strptime(df2.iloc[i].loc['Datetime (Local)'],'%Y-%m-%d %H:%M:%S')
    df2.loc[i,'day']=p.day
    df2.loc[i,'year']=p.year
    df2.loc[i,'month']=p.month
    df2.loc[i,'hour']=p.hour
print(df2)
### I have changed something

Empty DataFrame
Columns: [Datetime (Local), Price (EUR/MWhe), day, month, year, hour]
Index: []

In [34]:
print(df2)

Empty DataFrame
Columns: [Datetime (Local), Price (EUR/MWhe), day, month, year, hour]
Index: []

In [35]:
df2=df2.reset_index()
df2

Empty DataFrame
Columns: [index, Datetime (Local), Price (EUR/MWhe), day, month, year, hour]
Index: []

In [36]:
#df2[df2['month']==12]['hour'].value_counts()

In [37]:
print(df2[df2['month']==3][df2['hour']==2][df2['day']==26]['Price (EUR/MWhe)'].value_counts())
## 10 month 2 hour 29 day have 2 values
## 3 month 2 hour 26 day is missing

Series([], Name: count, dtype: int64)

In [38]:
df2=df2.drop(columns='Datetime (Local)')
indexlist=df2[df2['month']==10][df2['hour']==2][df2['day']==29].index.tolist()
if(len(indexlist)==2):
    df2=df2.drop(indexlist[0])
    df2=df2.reset_index()
df2.loc[len(df2),'day']=26
df2.loc[len(df2)-1,'month']=3
df2.loc[len(df2)-1,'year']=2023
df2.loc[len(df2)-1,'hour']=2
df2.loc[len(df2)-1,'Price (EUR/MWhe)']=100.1

In [39]:
df2=df2.sort_values(by=['month','day','hour'])
df2=df2.reset_index(drop=True)
print(df2[df2['month']==3][df2['hour']==2][df2['day']==23]['Price (EUR/MWhe)'].value_counts())

Series([], Name: count, dtype: int64)

In [40]:
len(df2)
print(df2[df2['month']==1]['hour'].value_counts())

Series([], Name: count, dtype: int64)

In [41]:
df1['values']=df1['values']/1000
df2['values']=0
for i in range (0,8760):
    df2.loc[i,'values']=df1.iloc[i].loc['values']
print(len(df2))
df2.head()

/tmp/ipykernel_2045/3876141998.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.004428' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2.loc[i,'values']=df1.iloc[i].loc['values']

8760

   index  Price (EUR/MWhe)   day  month    year  hour    values
0    NaN             100.1  26.0    3.0  2023.0   2.0  0.004428
1    NaN               NaN   NaN    NaN     NaN   NaN  0.004220
2    NaN               NaN   NaN    NaN     NaN   NaN  0.004084
3    NaN               NaN   NaN    NaN     NaN   NaN  0.006180
4    NaN               NaN   NaN    NaN     NaN   NaN  0.004300

In [42]:
####### DSM ##############
l1=df2['Price (EUR/MWhe)'].tolist()
l1.sort()

## Low Price ####
low_price=0
for i in range (0,int(len(l1)/2)):
    low_price+=l1[i]
low_price=low_price/(len(l1)/2)
print("Here is the low price",low_price,'EUR PER MW')

## High Price#####
high_price=0
for i in range (int(len(l1)/2),len(l1)):
    high_price+=l1[i]
high_price=high_price/(len(l1)/2)
print("Here is the high price",high_price,'EUR PER MW')

### Total consumption
l1=df2['values'].tolist()
totalconsumption=0
for i in range (len(l1)):
    totalconsumption+=l1[i]
print('here is the total consumption',totalconsumption,'MW')

### DSM bill ####
DSM_bill=((0.8*totalconsumption*low_price)+(0.2*totalconsumption*high_price))
print('here is the DSM bill',DSM_bill,'EUR')

Here is the low price nan EUR PER MW
Here is the high price nan EUR PER MW
here is the total consumption 67.85079999999999 MW
here is the DSM bill nan EUR

In [43]:
######### Conventional ##############
conventionalprice=(100.57+111.36+95.27+91.44+70.86+92.2+64.78+86.19+85.03+58.66+105.64+69.65)/12
print('Here is the conventional price',conventionalprice,'EUR PER MW')
print('here is the total consumption',totalconsumption,'MW')
conventional_BILL=(conventionalprice*totalconsumption)
print('here is the conventional bill',conventional_BILL,'EUR')

Here is the conventional price 85.97083333333335 EUR PER MW
here is the total consumption 67.85079999999999 MW
here is the conventional bill 5833.189818333333 EUR

In [44]:
df

          HourUTC      HourDK PriceArea       Price  day  year  month
0      30-12-2023  30-12-2023       DK1   30.000000   30  2023     12
1      30-12-2023  30-12-2023       DK2   30.000000   30  2023     12
2      30-12-2023  30-12-2023       DK2   50.099998   30  2023     12
3      30-12-2023  30-12-2023       DK1    5.368000   30  2023     12
4      30-12-2023  30-12-2023       DK1    5.368000   30  2023     12
...           ...         ...       ...         ...  ...   ...    ...
17465  01-01-2023  01-01-2023       DK1   -6.000000    1  2023      1
17466  01-01-2023  01-01-2023       DK1   -6.000000    1  2023      1
17467  01-01-2023  01-01-2023       DK2   -6.000000    1  2023      1
17468  01-01-2023  01-01-2023       DK2  138.000000    1  2023      1
17469  01-01-2023  01-01-2023       DK1  138.000000    1  2023      1

[17470 rows x 7 columns]

In [45]:
df2

      index  Price (EUR/MWhe)   day  month    year  hour    values
0       NaN             100.1  26.0    3.0  2023.0   2.0  0.004428
1       NaN               NaN   NaN    NaN     NaN   NaN  0.004220
2       NaN               NaN   NaN    NaN     NaN   NaN  0.004084
3       NaN               NaN   NaN    NaN     NaN   NaN  0.006180
4       NaN               NaN   NaN    NaN     NaN   NaN  0.004300
...     ...               ...   ...    ...     ...   ...       ...
8755    NaN               NaN   NaN    NaN     NaN   NaN  0.012474
8756    NaN               NaN   NaN    NaN     NaN   NaN  0.007054
8757    NaN               NaN   NaN    NaN     NaN   NaN  0.005694
8758    NaN               NaN   NaN    NaN     NaN   NaN  0.006822
8759    NaN               NaN   NaN    NaN     NaN   NaN  0.010520

[8760 rows x 7 columns]

In [46]:
# CALCULATION OF THE AVGFL PRICE

df_temp1=pd.read_csv('/workspaces/Power-Consumption-Pattern/NO/All CSV/Peak Hour_NO_DK1.csv')
df_temp2=pd.read_csv('/workspaces/Power-Consumption-Pattern/NO/All CSV/Peak Hour_NO_DK2.csv')

# sum_price=0
# sum_quantity=0
# index=0
# for i in range (0,len(df_temp1)):
#     df_temp=df2[(df2['month']==df_temp1.iloc[i].loc['month']) & (df2['day']==df_temp1.iloc[i].loc['date']) & (df2['hour']==df_temp1.iloc[i].loc['hour'])]
#     if(df_temp.iloc[0].loc['Price (EUR/MWhe)']<75):
#         index+=1;
#     else: 
#         sum_price+=df_temp.iloc[0].loc['Price (EUR/MWhe)']
# for i in range (0,len(df_temp2)):
#     df_temp=df2[(df2['month']==df_temp2.iloc[i].loc['month']) & (df2['day']==df_temp2.iloc[i].loc['date']) & (df2['hour']==df_temp2.iloc[i].loc['hour'])]
#     if(df_temp.iloc[0].loc['Price (EUR/MWhe)']<75):
#         index+=1;
#     else:
#         sum_price+=df_temp.iloc[0].loc['Price (EUR/MWhe)']

# print(sum_price/(len(df_temp1)+len(df_temp2)-index))

In [22]:
##########  Flexible Market #############
# avgflprice=sum_price/(len(df_temp1)+len(df_temp2)-index)

# ## I cannot take the quantity from that df if then it have gone very low..
# print('Here is the average avgflprice',avgflprice,'EUR PER MW')
# print('here is the total consumption',totalconsumption,'MW')
# print('here is the quantity down regulated',totalconsumption*0.2,'MW')
# flexible_BILL=((conventionalprice * totalconsumption )-(totalconsumption*0.2*avgflprice))
# print('here is the flexible bill',flexible_BILL,'EUR')

In [23]:
# saving1=(conventional_BILL-DSM_bill)
# saving2=(conventional_BILL-flexible_BILL)
# print('saving from DSM',saving1,'EUR')
# print('saving from Flexible',saving2,'EUR')

In [24]:
# saving2-saving1

In [25]:
########################### Fl price2 with their quantities down regulation #####################
# flexible_BILL=0
# for i in range (0,len(df_temp1)):
#     df_temp=df2[(df2['month']==df_temp1.iloc[i].loc['month']) & (df2['day']==df_temp1.iloc[i].loc['date']) & (df2['hour']==df_temp1.iloc[i].loc['hour'])]
#     flexible_BILL-=df_temp1.iloc[i].loc['value']* df_temp.iloc[0].loc['Price (EUR/MWhe)']


# for i in range (0,len(df_temp2)):
#     df_temp=df2[(df2['month']==df_temp2.iloc[i].loc['month']) & (df2['day']==df_temp2.iloc[i].loc['date']) & (df2['hour']==df_temp2.iloc[i].loc['hour'])]
#     flexible_BILL-=df_temp2.iloc[i].loc['value']* df_temp.iloc[0].loc['Price (EUR/MWhe)']
# print(flexible_BILL/1000)

IndexError: single positional indexer is out-of-bounds

In [55]:
df.rename(columns={"HourDK": "hour"}, inplace=True)
df
index1=0
index2=0
for i in range(len(df)):
    if df['PriceArea'].iat[i] == 'DK1':
        df.at[i, 'hour'] = index1 % 24
        index1 += 1
    elif df['PriceArea'].iat[i] == 'DK2':
        df.at[i, 'hour'] = index2 % 24
        index2 += 1

In [56]:
df

          HourUTC hour PriceArea       Price  day  year  month
0      30-12-2023    0       DK1   30.000000   30  2023     12
1      30-12-2023    0       DK2   30.000000   30  2023     12
2      30-12-2023    1       DK2   50.099998   30  2023     12
3      30-12-2023    1       DK1    5.368000   30  2023     12
4      30-12-2023    2       DK1    5.368000   30  2023     12
...           ...  ...       ...         ...  ...   ...    ...
17465  01-01-2023   20       DK1   -6.000000    1  2023      1
17466  01-01-2023   21       DK1   -6.000000    1  2023      1
17467  01-01-2023   21       DK2   -6.000000    1  2023      1
17468  01-01-2023   22       DK2  138.000000    1  2023      1
17469  01-01-2023   22       DK1  138.000000    1  2023      1

[17470 rows x 7 columns]

In [57]:
df_temp1

    Unnamed: 0  index  hour  date  month  covariance  value
0            0     13   7.0   3.0    1.0    0.505787  2.023
1            1     14   8.0   3.0    1.0   -0.543078  0.600
2            2     15   9.0   3.0    1.0   -0.571875  0.671
3            3     16  10.0   3.0    1.0    0.636891  0.550
4            4     17  11.0   3.0    1.0   -0.565182  0.522
5            5     18  12.0   3.0    1.0   -0.546013  0.591
6            6     19  13.0   3.0    1.0    0.546417  0.643
7            7     21  15.0   3.0    1.0    0.502988  0.580
8            8     22  16.0   3.0    1.0    0.512348  1.892
9            9     23  17.0   3.0    1.0    0.510708  3.252
10          10     86  16.0   8.0    1.0    0.720169  2.721
11          11     87   6.0   9.0    1.0    0.526952  1.957
12          12     88   7.0   9.0    1.0    0.525984  2.387
13          13     97  16.0   9.0    1.0    0.522343  1.198
14          14     98  17.0   9.0    1.0    0.518564  2.519
15          15     99   7.0  10.0    1.0    0.519713  2.023
16          16    100   8.0  10.0    1.0   -0.583960  0.600
17          17    101  10.0  10.0    1.0    0.607146  0.550
18          18    104  16.0  10.0    1.0    0.508376  1.892
19          19    105  17.0  10.0    1.0    0.508815  3.252
20          20    159  16.0  22.0    1.0    0.588652  2.721
21          21    160  17.0  22.0    1.0    0.576342  3.168
22          22    168  12.0  23.0    1.0   -0.558786  0.472
23          23    169  13.0  23.0    1.0    0.529394  0.515
24          24    170  14.0  23.0    1.0    0.531421  0.992
25          25    182   9.0  24.0    1.0   -0.532097  0.671
26          26    183  10.0  24.0    1.0    0.508382  0.550
27          27    264  13.0  29.0    1.0    0.564959  0.602
28          28    265  14.0  29.0    1.0    0.536898  0.901
29          29    271   6.0  30.0    1.0    0.555618  1.957
30          30    272   7.0  30.0    1.0    0.519555  2.387
31          31    273   8.0  30.0    1.0   -0.522332  0.794
32          32    274   9.0  30.0    1.0   -0.562292  0.778
33          33    275  10.0  30.0    1.0    0.582180  0.605
34          34    276  11.0  30.0    1.0    0.540961  0.789
35          35    277  12.0  30.0    1.0   -0.563049  0.472
36          36    278  13.0  30.0    1.0   -0.542540  0.515
37          37    281  16.0  30.0    1.0    0.515049  1.198
38          38    334  12.0  21.0    2.0   -0.504146  0.591
39          39    335  17.0  21.0    2.0    0.595960  3.252
40          40    416   7.0  24.0    5.0   -0.503418  0.254
41          41    417   8.0  24.0    5.0    0.504782  0.284
42          42    418   9.0  24.0    5.0    0.507980  0.302
43          43    419  10.0  24.0    5.0   -0.520531  0.249
44          44    420  11.0  24.0    5.0    0.545961  0.370
45          45    421  12.0  24.0    5.0   -0.525369  0.407
46          46    422  15.0  24.0    5.0   -0.532522  0.294
47          47    561  16.0  12.0   11.0    0.556942  4.752
48          48    562  17.0  12.0   11.0    0.540579  3.490
49          49    720  10.0   3.0   12.0    0.503725  2.363
50          50    721  11.0   3.0   12.0    0.501770  3.608

In [61]:
# CALCULATION OF THE AVGFL PRICE
df_temp1=pd.read_csv('/workspaces/Power-Consumption-Pattern/NO/All CSV/Peak Hour_NO_DK1.csv')
df_temp2=pd.read_csv('/workspaces/Power-Consumption-Pattern/NO/All CSV/Peak Hour_NO_DK2.csv')
sum_price=0
sum_quantity=0
index=0
print(len(df_temp1))
for i in range (0,len(df_temp1)):
    df_temp=df[(df['month']==df_temp1.iloc[i].loc['month']) & (df['daY']==df_temp1.iloc[i].loc['date']) & (df['hour']==df_temp1.iloc[i].loc['hour'])]
    if(df_temp.iloc[0].loc['Price']>30):
        sum_price+=df_temp.iloc[0].loc['Price']* df_temp1.iloc[i].loc['value']*10
        # sum_price+=df_temp.iloc[1].loc['Price']
        index=index+1 
print(len(df_temp2))
for i in range (0,len(df_temp2)):
    df_temp=df[(df['month']==df_temp2.iloc[i].loc['month']) & (df['day']==df_temp2.iloc[i].loc['date']) & (df['hour']==df_temp2.iloc[i].loc['hour'])]
    if(df_temp.iloc[1].loc['Price']>30):
        sum_price+=df_temp.iloc[1].loc['Price']* df_temp2.iloc[i].loc['value']*10
        index=index+1

print(index)
print(sum_price/1000)

51
296
271
418.2031615058805

In [ ]:
avgflprice=sum_price/index

## I cannot take the quantity from that df if then it have gone very low..
print('Here is the average avgflprice',avgflprice,'EUR PER MW')
print('here is the total consumption',totalconsumption,'MW')
print('here is the quantity down regulated',totalconsumption*0.2,'MW')
flexible_BILL=((conventionalprice * totalconsumption )-(totalconsumption*0.2*avgflprice))
print('here is the flexible bill',flexible_BILL,'EUR')

Here is the average avgflprice 138.44952044649443 EUR PER MW
here is the total consumption 67.85079999999999 MW
here is the quantity down regulated 13.57016 MW
here is the flexible bill 3954.4076739511324 EUR

In [ ]:
downregulation=0
for i in range (0,len(df_temp1)):
    downregulation+=df_temp1.iloc[i].loc['value']*10
for i in range (0,len(df_temp2)):
    downregulation+=df_temp2.iloc[i].loc['value']*10
print(downregulation/1000)

3.806730000000004

# New Methods Lets check by them

In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

def change (p):
    s=""
    for i in range (0,len(p)):
        if(p[i]==','):
            s+='.'
        else:
            s+=p[i]
    return s

In [74]:
### Traditional Pricing ####
def Trad_Price(df_fac):
    traditional_price=0
    for i in range (0,8760):
        traditional_price+= max(df_fac.iloc[i].loc['values'],0 )* (0.24)
    print("Traditional Price for the factory",traditional_price,"EUR")

In [75]:
#### DSM ### 
def DSM_Price(df_fac):
    DSM_price=0
    for i in range (0,8760):
        if(df_fac.iloc[i].loc['hour']>=7 and df_fac.iloc[i].loc['hour']<22):
            DSM_price+= max(df_fac.iloc[i].loc['values'],0)*(0.35)
        else:
            DSM_price+= max(df_fac.iloc[i].loc['values'],0)*(0.15)
    print("DSM Price for the factory",DSM_price, "EUR")

In [76]:
#### Flexible Market Revenue Variation-1 ###
def Flex_Price1(df_fac,df_down,df_hour1,df_hour2,per_down):
    Flex_Price=0
    for i in range (0,len(df_fac)):
        Flex_Price+=df_fac.iloc[i].loc['values']*0.24
    for i in range (0,len(df_hour1)):
        df_temp = df_down[(df_down['month'] == df_hour1.loc[i, 'month']) &(df_down['hour'] == df_hour1.loc[i, 'hour']) &( df_down['date'] == df_hour1.loc[i, 'date']) &(df_down['PriceArea'] == 'DK1')]
        df_temp2=df_fac[(df_fac['month']==df_hour1.loc[i,'month']) & (df_fac['hour']==df_hour1.loc[i,'hour'] )& (df_fac['date']==df_hour1.loc[i,'date'])]
        if(df_temp.iloc[0].loc['Price']>0):
            Flex_Price-= df_temp.iloc[0].loc['Price']*df_temp2.iloc[0].loc['values']*per_down
    for i in range (0,len(df_hour2)):
        df_temp=df_down[(df_down['month']==df_hour2.loc[i,'month']) & (df_down['hour']==df_hour2.loc[i,'hour']) & (df_down['date']==df_hour2.loc[i,'date'] )& (df_down['PriceArea']=='DK2')]
        df_temp2=df_fac[(df_fac['month']==df_hour2.loc[i,'month']) & (df_fac['hour']==df_hour2.loc[i,'hour']) & (df_fac['date']==df_hour2.loc[i,'date']) ]
        if(df_temp.iloc[0].loc['Price']>0):
            Flex_Price-= df_temp.iloc[0].loc['Price']*df_temp2.iloc[0].loc['values']*per_down
    print("Flexible Price for the factory (Variation-1)",Flex_Price,"EUR")

In [77]:
#### Flexible Market Revenue Variation-2 ###
def Flex_Price2(df_fac,df_down,df_hour1,df_hour2,per_down):
    Flex_Price=0
    for i in range (0,len(df_fac)):
        if(df_fac.iloc[i].loc['hour']>=7 and df_fac.iloc[i].loc['hour']<22):
            Flex_Price+=df_fac.iloc[i].loc['values']*0.35
        else:
            Flex_Price+=df_fac.iloc[i].loc['values']*0.15
    for i in range (0,len(df_hour1)):
        df_temp = df_down[(df_down['month'] == df_hour1.loc[i, 'month']) &(df_down['hour'] == df_hour1.loc[i, 'hour']) &( df_down['date'] == df_hour1.loc[i, 'date']) &(df_down['PriceArea'] == 'DK1')]
        df_temp2=df_fac[(df_fac['month']==df_hour1.loc[i,'month']) & (df_fac['hour']==df_hour1.loc[i,'hour'] )& (df_fac['date']==df_hour1.loc[i,'date'])]
        if(df_temp2.iloc[0].loc['hour']>=22 or df_temp2.iloc[0].loc['hour']<7):
            Flex_Price-= 0.2*df_temp2.iloc[0].loc['values']*per_down
        if(df_temp.iloc[0].loc['Price']>0):
            Flex_Price-= df_temp.iloc[0].loc['Price']*df_temp2.iloc[0].loc['values']*per_down
    for i in range (0,len(df_hour2)):
        df_temp=df_down[(df_down['month']==df_hour2.loc[i,'month']) & (df_down['hour']==df_hour2.loc[i,'hour']) & (df_down['date']==df_hour2.loc[i,'date'] )& (df_down['PriceArea']=='DK2')]
        df_temp2=df_fac[(df_fac['month']==df_hour2.loc[i,'month']) & (df_fac['hour']==df_hour2.loc[i,'hour']) & (df_fac['date']==df_hour2.loc[i,'date']) ]
        if(df_temp2.iloc[0].loc['hour']>=22 or df_temp2.iloc[0].loc['hour']<7):
            Flex_Price-= 0.2*df_temp2.iloc[0].loc['values']*per_down
        if(df_temp.iloc[0].loc['Price']>0):
            Flex_Price-= df_temp.iloc[0].loc['Price']*df_temp2.iloc[0].loc['values']*per_down
    print("Flexible Price for the factory (Variation-2)",Flex_Price,"EUR")

In [78]:
import pandas as pd
## df_fac is the factory consumption data whose column names are 'values','date','month','year','hour'
## df_down is the price for the downregualtion, should be modified first 'hour'	'date'	'month' 'Price'
## df_hour1 is the flexi hours with the DK1 whose column names are	'hour'	'date'	'month'
## df_hour2 is the flexi hours with the DK2 whose column names are	'hour'	'date'	'month'
df_fac=pd.read_csv('/workspaces/Power-Consumption-Pattern/NO/All CSV/NO_2023.csv')
df_down=pd.read_csv('/workspaces/Power-Consumption-Pattern/Price.csv',delimiter=';')
df_hour1=pd.read_csv('/workspaces/Power-Consumption-Pattern/NO/All CSV/Peak Hour_NO_DK1.csv')
df_hour2=pd.read_csv('/workspaces/Power-Consumption-Pattern/NO/All CSV/Peak Hour_NO_DK2.csv')

In [79]:
## Modification of the df_down
df_down.rename(columns={'BalancingPowerPriceDownEUR': 'Price'},inplace=True)
df_down['date']=0
df_down['year']=0
df_down['month']=0

df_down['Price']=df_down['Price'].astype(str)
for i in range (0,len(df_down)):
    df_down.loc[i,'Price']=change(df_down.iloc[i].loc['Price'])
df_down['Price']=df_down['Price'].astype(float)

for i in range (0,len(df_down)):
    p=datetime.strptime(df_down.loc[i,'HourUTC'],'%d-%m-%Y')
    df_down.loc[i,'date']=p.day
    df_down.loc[i,'year']=p.year
    df_down.loc[i,'month']=p.month

df_down.rename(columns={"HourDK": "hour"}, inplace=True)
index1=0
index2=0
for i in range(len(df_down)):
    if df_down['PriceArea'].iat[i] == 'DK1':
        df_down.at[i, 'hour'] = index1 % 24
        index1 += 1
    elif df_down['PriceArea'].iat[i] == 'DK2':
        df_down.at[i, 'hour'] = index2 % 24
        index2 += 1

In [80]:
df_down['Price']=df_down['Price']/1000

In [81]:
Trad_Price(df_fac)
DSM_Price(df_fac)
Flex_Price1(df_fac,df_down,df_hour1,df_hour2,1)
Flex_Price2(df_fac,df_down,df_hour1,df_hour2,1)

Traditional Price for the factory 16349.953919999978 EUR
DSM Price for the factory 19789.72719999983 EUR
Flexible Price for the factory (Variation-1) 15877.19283585895 EUR
Flexible Price for the factory (Variation-2) 19221.782435858804 EUR

In [82]:
df_fac

      Unnamed: 0.1  Unnamed: 0  values  date  month    year  hour
0                0         0.0   4.428   1.0    1.0  2023.0   0.0
1                1         1.0   4.220   1.0    1.0  2023.0   1.0
2                2         2.0   4.084   1.0    1.0  2023.0   2.0
3                3         3.0   6.180   1.0    1.0  2023.0   3.0
4                4         4.0   4.300   1.0    1.0  2023.0   4.0
...            ...         ...     ...   ...    ...     ...   ...
8755          8755         NaN  12.474  31.0   12.0  2023.0  19.0
8756          8756         NaN   7.054  31.0   12.0  2023.0  20.0
8757          8757         NaN   5.694  31.0   12.0  2023.0  21.0
8758          8758         NaN   6.822  31.0   12.0  2023.0  22.0
8759          8759         NaN  10.520  31.0   12.0  2023.0  23.0

[8760 rows x 7 columns]

# Grid Hours

In [83]:
df_down1=df_down[df_down['PriceArea']=='DK1']
df_down2=df_down[df_down['PriceArea']=='DK2']

In [84]:
df_down1.sort_values(by=['month','date','hour'],inplace=True)
df_down1.reset_index(drop=True,inplace=True)

/tmp/ipykernel_3134/1076002054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_down1.sort_values(by=['month','date','hour'],inplace=True)

In [85]:
df_down2.sort_values(by=['month','date','hour'],inplace=True)
df_down2.reset_index(drop=True,inplace=True)

/tmp/ipykernel_3134/2321511992.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_down2.sort_values(by=['month','date','hour'],inplace=True)

In [86]:
new_row = pd.DataFrame({'date': [30], 'hour': [23], 'month': [12], 'PriceArea': ['DK2'], 'Price': [0.02],'year': 2023})
df_down2 = pd.concat([df_down2, new_row], ignore_index=True)
new_row = pd.DataFrame({'date': [30], 'hour': [23], 'month': [12], 'PriceArea': ['DK1'], 'Price': [0.02],'year': 2023})
df_down1 = pd.concat([df_down1, new_row], ignore_index=True)

In [87]:
def GridHour(df_down1,df_fac):
    sum=0
    for i in range (0,8736):
        sum=sum+(df_fac.iloc[i].loc['values'])*(df_down1.iloc[i].loc['Price'])
    print(sum)

def GridHour1(df_down1,df_fac):
    sum=0
    temp=0
    for i in range (0,8736):
        if(df_down1.iloc[i].loc['Price']>0):
            temp=temp+df_fac.iloc[i].loc['values']
            sum=sum+ (df_down1.iloc[i].loc['Price']*temp)
            temp=0
        else:
            temp=temp+df_fac.iloc[i].loc['values']
    print(sum)

In [88]:
GridHour(df_down1,df_fac)
GridHour1(df_down1,df_fac)
GridHour(df_down2,df_fac)
GridHour1(df_down2,df_fac)

5358.923033917365
6298.0268987498475
5412.829203036538
6167.457987225132